{
    # Tắt hoàn toàn HTTPS tự động của Caddy
    auto_https off
    # debug
}

# Filebrowser
http://filebrowser.buiducthien.store {
    reverse_proxy http://filebrowser:80
}

# Paperless
http://paperless.buiducthien.store {
    reverse_proxy http://paperless:8000
}

# Vaultwarden
http://vaultwarden.buiducthien.store {
    reverse_proxy http://vaultwarden:80
}

# Portainer
http://portainer.buiducthien.store {
    reverse_proxy http://portainer:9000 {
        # Ép buộc gửi header báo hiệu là HTTPS
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
}
