{
    # Tắt hoàn toàn HTTPS tự động của Caddy
    auto_https off
}

# Homepage
http://homepage.buiducthien.store {
    reverse_proxy http://homepage:3000
}

# Filebrowser
http://filebrowser.buiducthien.store {
    reverse_proxy http://filebrowser:80
}

# Immich
http://immich.buiducthien.store {
    reverse_proxy http://immich-server:2283
}

# Nextcloud
http://nextcloud.buiducthien.store {
    reverse_proxy http://nextcloud:80
}

# Paperless
http://paperless.buiducthien.store {
    reverse_proxy http://paperless:8000
}

# Vaultwarden
http://vaultwarden.buiducthien.store {
    reverse_proxy http://vaultwarden:80
}

# Wallabag
http://wallabag.buiducthien.store {
    reverse_proxy http://wallabag:80
}

# Gitea UI
http://gitea.buiducthien.store {
    reverse_proxy http://gitea:3000
}

#Dockeg
http://dockge.buiducthien.store {
    reverse_proxy http://dockge:5001
}

# 3. Khối "PHÉP THUẬT" MỚI (Wildcard Cấp 1)
*.buiducthien.store {
    # {http.host.labels.0} vẫn sẽ là phần đầu tiên (ví dụ: "my-first-site")
    # Caddy đủ thông minh để không áp dụng khối này cho "gitea" hay "paperless"
    # vì chúng đã được định nghĩa ở trên.
    root * /var/www/public_html/{http.host.labels.0}
    
    file_server
}
