services:
  postgres:
    image: postgres:17
    user: 1000:1000
    container_name: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=shared_db
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    restart: unless-stopped
    networks:
      - selfnet
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U admin -d shared_db
      interval: 10s
      timeout: 5s
      retries: 5
    command: postgres -c shared_buffers=64MB -c effective_cache_size=128MB -c work_mem=4MB -c maintenance_work_mem=16MB
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
  redis:
    container_name: redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    command: redis-server --maxmemory 128mb --maxmemory-policy noeviction
    restart: unless-stopped
    networks:
      - selfnet
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "0.10"
          memory: 128M
  paperless:
    user: ${PUID}:${PGID}
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless
    environment:
      - PAPERLESS_URL=https://paperless.buiducthien.store
      - PAPERLESS_TIME_ZONE=${TZ}
      - PAPERLESS_ADMIN_USER=admin
      - PAPERLESS_ADMIN_PASSWORD=${PAPERLESS_ADMIN_PASSWORD}
      - PAPERLESS_DBHOST=postgres
      - PAPERLESS_DBNAME=paperless_db
      - PAPERLESS_DBUSER=admin
      - PAPERLESS_DBPASS=${POSTGRES_PASSWORD}
      - PAPERLESS_OCR_LANGUAGE=eng
      - PAPERLESS_REDIS=redis://redis:6379
      - PAPERLESS_SECRET_KEY=${PAPERLESS_SECRET_KEY}
      - PUID=${PUID}
      - PGID=${PGID}
      - PAPERLESS_TRUSTED_PROXIES=172.18.0.0/16
      - PAPERLESS_WEBSERVER_WORKERS=1
      - PAPERLESS_TASK_WORKERS=1
      - PAPERLESS_THREADS_PER_WORKER=1
      - PAPERLESS_USE_X_FORWARDED_HOST=true
      - PAPERLESS_PROXY_SSL_HEADER=["HTTP_X_FORWARDED_PROTO", "https"]
    volumes:
      - ./data/paperless/data:/usr/src/paperless/data
      - ./media/paperless/media:/usr/src/paperless/media
      - ./media/paperless/export:/usr/src/paperless/export
      - ./media/paperless/consume:/usr/src/paperless/consume
    depends_on:
      - postgres
      - redis
    restart: unless-stopped
    networks:
      - selfnet
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 768M
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    environment:
      - DATABASE_URL=postgres://admin:${POSTGRES_PASSWORD}@postgres:5432/shared_db
      - ADMIN_TOKEN=${VAULTWARDEN_ADMIN_TOKEN}
      - WEBSOCKET_ENABLED=true
      - SIGNUPS_ALLOWED=true
      - PUID=${PUID}
      - PGID=${PGID}
      - DOMAIN=https://vaultwarden.buiducthien.store
    volumes:
      - ./data/vaultwarden:/data:rw
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - selfnet
    deploy:
      resources:
        limits:
          cpus: "0.20"
          memory: 256M
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    networks:
      - selfnet
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./data/caddy/data:/data
      - ./data/caddy/config:/config
      - ./data/gitea-deployments:/var/www/public_html:ro # :ro = read-only
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 128M
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    networks:
      - selfnet
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    command: tunnel --no-autoupdate run
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.10"
          memory: 128M
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    user: ${PUID}:${PGID}
    volumes:
      - /:/srv
      - ./data/filebrowser/database:/database
      - ./data/filebrowser/settings:/config
    restart: unless-stopped
    networks:
      - selfnet
    deploy:
      resources:
        limits:
          cpus: "0.10"
          memory: 128M
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=${TZ}
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 4 * * *
    restart: unless-stopped
    networks:
      - selfnet
    deploy:
      resources:
        limits:
          cpus: "0.10"
          memory: 128M
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/portainer:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
     # - PORTAINER_CSRF_PROTECTION_DISABLED=1
    restart: unless-stopped
    networks:
      - selfnet
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 256M
          
networks:
  selfnet:
    driver: bridge
